html{
    font-size: 16px;
    color: white;
}

#logo{
    display: flex;
    height: 13rem;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}

.nav{
    display: flex;
    font-family: "Montserrat";
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.nav a{
    color: rgb(91, 89, 135);
    text-decoration: none;  
  }

.head {
    font-family: "Montserrat";
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    word-spacing: 0.7rem;
    color: rgb(91, 89, 135);
    background-color: rgb(230, 228, 237);
}

.mission{
    display: inline-flex;
    background-color: black;
    background-size: contain;
}

#whit{
    display:flex;
    position: relative;
    border-radius: 8%;
    height: 21rem;
    align-items: center;
    float: left;
    margin-left: 20rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.mission p{
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat";
    text-align: left;
    line-height: 1.9rem;
    margin-left: 7rem;
    margin-right: 12rem;
    padding-top: 3.5rem;
    font-size: 1rem;
    justify-content: center;
}


#events{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(30, 29, 44);
    text-align: center;
    word-spacing: 0.7rem;
}

#events h2{
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat";
    margin-top: 0.5rem;
    font-size: 1.5rem;
    position: absolute;
    align-content: center;
    background-color: rgb(230, 228, 237);
    background-size: contain;
    width: 100%;
    justify-content: center;
}

#insta{
    display: flex;
    flex-wrap: wrap;
    height: 2rem;
    position: absolute;
    margin-left: 30rem;
    margin-top: 2rem;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    list-style-type: none;
    margin-top: 4.6rem;
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#photos img{
    flex-basis: 350px;
    height: 16rem;
    margin: 0 auto;
}

footer {
    background-color: rgb(230, 228, 237);
    padding: 1rem 2rem;
    margin-top: 0.5rem;
  }
  
  footer .content {
    font-family: "Montserrat";
    color: rgb(91, 89, 135);
    height: 0.75rem;
    display: flex;
    font-size: 1rem;
    padding-left: 2rem;
  }
  
  footer .copyright {
    flex-grow: 1;
  }
